# === Environnements virtuels ===
occ-env/
.occ-env/
env/
venv/
.venv/

# === Variables d'environnement ===
.env

# === Données locales (non versionnées) ===
data/
data_raw/
data_processed/

# === Cache Python ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === Caches de test ===
.pytest_cache/

# === Artefacts MLflow ===
mlruns/
mlartifacts/

# === Dossiers générés par Jupyter ===
.ipynb_checkpoints/

# === Logs & fichiers temporaires ===
logs/
*.log
tmp/
temp/

# === Modèles & poids lourds ===
# Ignorer tous les modèles volumineux (BERT, Word2Vec, etc.)
models/
# Réautoriser explicitement les modèles légers que tu veux garder
!models/tfidf_vectorizer.pkl

# === Divers ===
.DS_Store
Thumbs.db


# Ignorer les présentations PowerPoint
*.pptx
*.ppt
